/*禁止手机端点击时出现灰色背景*/
*{
		 -webkit-tap-highlight-color:rgba(0,0,0,0); -webkit-tap-highlight-color: transparent; tap-highlight-color:rgba(0,0,0,0); tap-highlight-color:transparent;
	}
/*砸金蛋活动页样式*/
.warpBody{
  position: relative;
  margin:0 auto;
  width: 6.4rem;
  height: auto;
  overflow: auto;
  text-align: center;
  background-color: #ff4740;
  background-image: url('images/index_bg.jpg');
  background-repeat: no-repeat;
  background-size:6.4rem auto;
}
.goldDiv{
  position: absolute;
  top: 0.3rem;
  left: 0;
  width: 1.55rem;
  height: 0.6rem;
  border-radius:0 30px 30px 0;
  background: rgba(91,17,25,0.2);
}
.goldIcon{
  margin-top: 0.1rem;
  margin-left: 0.2rem;
  width: 0.4rem;
  height: 0.4rem;
}
.goldNum{
  margin-left: 0.1rem;
  width: 0.6rem;
  text-align: center;
  font-size: 0.3rem;
  color: #fff;
  line-height: 0.6rem;
}
.hdgzBtn{
  position: absolute;
  top: 0;
  right: 0.45rem;
  width: 0.6rem;
  height: 0.85rem;
  font-weight: 600;
  text-align: center;
  font-size: 0.22rem;
  color: #a0492a;
  line-height: 0.3rem;
  border-radius: 0 0 0.3rem 0.3rem;
  background: #ffe198;
}
.marginT5{
  margin-top: 0.05rem;
}
.xiaIcon{
  margin-top: 0.05rem;
  margin-left: 0.23rem;
  width: 0.14rem;
  height: 0.08rem;
  display: inline-block;
}
.titPic{
  margin: 0.25rem auto 0;
  width: 5.4rem;
  height: 4.05rem;
}
.zadanTip{
  margin-top: -0.75rem;
  height: 0.24rem;
  font-size: 0.24rem;
  line-height: 0.24rem;
  color: #fbddd5;
}
.caidanWarpDiv{
  position: relative;
  margin: 0.5rem auto 0;
  width: 5.35rem;
  height: 4.05rem;
}
.chuiziStart{
  position: absolute;
  top: -1.2rem;
  right: -0.15rem;
  width: 1.17rem;
  height: 1.19rem;
  z-index: 20;
	opacity: 1;
	-webkit-transform-origin: right bottom;
  transform-origin: right bottom;
  transform: rotate(0deg);
	/*transition: all .2s linear;
	-webkit-transition: all .2s linear;*/
}

.jump{
	/*opacity: 0.7;*/
	transform: rotate(15deg);
	-webkit-transform: rotate(15deg);
}

.caidanL0{
  position: absolute;
  top: 0.4rem;
  left: 0rem;
  width: 2.25rem;
  height: 2.5rem;
  z-index: 1;
}
.caidanC0{
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1.15rem;
  width: 2.3rem;
  height: 3.1rem;
  z-index: 10;
}
.caidanR0{
  position: absolute;
  top: 0.5rem;
  right: 0;
  width: 2.2rem;
  height: 2.32rem;
  z-index: 1;
}
.caidanMove{
	transition: all .2s linear;
	-webkit-transition: all .2s linear;
	-webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}

.stageIcon{
  position: absolute;
  left: -0.2rem;
  bottom: 0;
  width: 5.75rem;
  height: 1.75rem;
}
.zadanjihuiDiv{
  width: 100%;
  height: 0.6rem;
  font-size: 0.2rem;
  color: #fff;
  line-height: 0.3rem;
  text-align: center;
}
.dadanNum{
  display: inline-block;
  padding:0 0.1rem;
	font-size: 0.24rem;
  color: #f3df59;
}
.duihuanBtn{
  display: inline-block;
  padding-left: 0.1rem;
  font-size: 0.22rem;
  color: #f3df59;
}
.zhongjiangbobaoWarp{
  margin: 0.35rem auto;
  width: 5.6rem;
  height: 3.2rem;
  border-radius: 13px;
  background: #fedd8a;
}
.zhongjiangbobaoDiv{
  margin: 0.15rem;
  position: relative;
  width: 5.3rem;
  height: 2.9rem;
  border-radius: 0.11rem;
  background: #ffedb7;
}

.zhongjiangbobaoDiv header{
  position: relative;
  margin: 0.18rem auto 0;
  width: 3.4rem;
  height: 0.3rem;
}
.fgx{
  position: absolute;
  top: 0.15rem;
  left: 0;
  width: 100%;
  height: 1px;
  background: #bf9767;
}
.bobaoTit{
  position: relative;
  margin:0 auto;
  width: 1.4rem;
  height: 0.3rem;
  background: #ffedb7;
  text-align: center;
  font-size: 0.3rem;
  color:#7f4118;
  line-height: 0.3rem;
}
.zhongjiangbobaoBanner{
  position: relative;
  height: 1.65rem;
  overflow: hidden;
}
.zhongjiangUl>li,.miandan{
  height: 0.55rem;
  padding: 0 0.15rem;
  font-size: 0.22rem;
  line-height: 0.55rem;
}
.miandan{
	position: relative;
	margin-top: 0.15rem;
  font-weight: bold;
  background: #fee5a0;
}
.zhongjiangPhone{
	clear: both;
  color: #742703;
}
.zhongjiangjiangpin{
  color: #99410c;
}
.shareBtn,.goJindan{
  margin: 0.4rem auto 0;
  width: 5rem;
  height: 0.8rem;
  background: url('images/btn_bg1.png') no-repeat;
  background-size: 5rem 0.8rem;
  box-shadow: 0.1rem 0.05rem 0.29rem #e34007;
  border-radius: 0.4rem;
  font-size: 0.32rem;
  color: #be262c;
  line-height: 0.8rem;
}
.BottmBtnDiv{
  margin: 0.4rem auto 0.8rem;
  width: 5.1rem;
  height: 0.8rem;
}
.BottomBtn{
  width: 2.34rem;
  height: 0.74rem;
  line-height: 0.74rem;
  font-size: 0.26rem;
  color: #ffd74b;
  border-radius: 0.4rem;
  border:2px solid #ffd74b;
}

/*分享页样式*/
.marginT_25{
  margin-top: -0.8rem!important;
}
.marginT20{
  margin-top: 0.2rem!important;
}
.leftLogo{
  position: absolute;
  top: 0.1rem;
  left: 0.15rem;
  width: 1.39rem;
  height: 0.45rem;
}
.xhTipsDiv{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.6rem;
	padding-top: 0.1rem;
  font-size: 0.22rem;
  line-height: 0.22rem;
  color: #fef87e;
  background: #ff4740;
}
.xhTipIcon{
  width: 0.27rem;
  height: 0.27rem;
}
.shareGiftfgx{
  margin-top: 0.3rem;
  width: 100%;
  height: 0.25rem;
  border-top: 1px dashed #fef87e;
}
.shareGiftDiv{
  margin: 0 auto 0.4rem;
  width: 5.2rem;
  border-radius: 0.1rem;
  padding: 0.45rem 0.3rem;
  background: #db2518;
}
.shareTips{
  text-align: center;
  line-height: 0.3rem;
  font-size: 0.2rem;
  color: #fce15c;
}
.userInforDiv,.userInforDiv{
  width: 4.8rem;
  height: 0.24rem;
  padding: 0.23rem 0.2rem;
  background: #fff;
  border-radius: 7px;
}
.userPhone,.userYzm,.userMessageYzm{
  width: 4.8rem;
  height: 0.24rem;
  font-size: 0.23rem;
  line-height: 0.24rem;
  border: none;
  outline: none;
}
.userInfoTips{
  clear: both;
  height: 0.35rem;
  text-align: left;
  font-size: 0.2rem;
  color: #fff;
  line-height: 0.35rem;
}
.userInfoTips span{
  display: none;
}
.width265{
  width: 2.65rem;
}
.yzmPic,.getMessageYzm{
  margin-top: 0.01rem;
  margin-left: 0.1rem;
  width: 2.02rem;
  height: 0.68rem;
  border-radius: 5px;
}
.getMessageYzm{
  font-size: 0.25rem;
  color: #c65800;
  line-height: 0.68rem;
  background: url('images/btn_bg2.png') no-repeat;
  background-size: 2.02rem 0.68rem;
}
.submitBtn{
  margin-top: 0.25rem;
  width: 4.94rem;
  height: 0.74rem;
  font-size: 0.32rem;
  line-height: 0.74rem;
  color: #fef87e;
  border: 3px solid #fef87e;
  border-radius: 0.37rem;
}
.disabled{
  background: #ccc!important;
  color: #fff;
}
.stErweima{
  display: block;
  margin: 0 auto;
  width: 2.02rem;
  height: 2.02rem;
}
.sbErwmTip1,.sfErwmTip2{
  width: 100%;
  margin-top: 0.1rem;
  text-align: center;
  font-size: 0.24rem;
  line-height: 0.3rem;
  color: #fff;
}
.sfErwmTip2{
  padding-bottom: 0.4rem;
  font-size: 0.22rem;
  color: #fef87e;
  text-decoration: underline;
}

/*弹层部分*/
.mc,.hdgzMc{
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background: #000;
  opacity: 0.7;
}
.hdgzMc{
	z-index: 200;
}
.hdgzTc{
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -3.1rem;
  margin-left: -2.725rem;
  width: 5.45rem;
  height: 7.2rem;
  z-index: 250;
}
.hdgzClose,.tcCloseBtn,.jingpinTcClose{
  position: absolute;
  top: -1.15rem;
  right: -0.1rem;
  width: 0.57rem;
  height: 0.57rem;
  z-index: 10;
}
.hdgzBg{
  position: absolute;
  top: -1.17rem;
  left: -1px;
  width: 5.65rem;
  height: 4.75rem;
  z-index: 3;
}
.hdgzHeader{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.9rem;
  line-height: 0.9rem;
  font-size: 0.28rem;
  color: #fff;
  background: #f97b4b;
  border-radius:0.12rem 0.12rem 0 0;
  z-index: 1;
}
.hdgzContent{
  position: absolute;
  top: 0.9rem;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 6.3rem;
  background: #fff;
  overflow: hidden;
  border-radius: 0 0 0.12rem 0.12rem;
}
.hdgzHideDiv{
  height: 5.8rem;
  padding-bottom: 0.1rem;
  overflow: hidden;
}
.hdgzUl{
  height: 5.3rem;
  padding: 0.4rem 0.25rem;
  line-height: 0.3rem;
  font-size: 0.24rem;
  color: #666;
  text-align: left;
  overflow: auto;
}

.selfGetDiv,.againGetDiv,.getGiftDiv,.noJihuiDiv,.phoneErrorDiv,.duihuanJihuiDiv,.duihuanJihuiResultDiv,.duihuanFailDiv{
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -1.05rem;
  margin-left: -2.45rem;
  width: 4.9rem;
  height: 2.1rem;
  background: #fff;
  border-radius: 5px;
  z-index: 150;
}

.againGetDiv,.noJihuiDiv,.duihuanJihuiDiv,.duihuanJihuiResultDiv{
  height: 2.5rem;
  margin-top: -1.25rem;
}
.getGiftDiv{
  height: 2.9rem;
  margin-top: -1.45rem;
}

.selfTcClose{
  right: -0.3rem;
}
.tcLogo{
  position: absolute;
  top: -0.43rem;
  left: 50%;
  margin-left: -0.43rem;
  width: 0.86rem;
  height: 0.86rem;
}
.tcTips1{
  margin: 0.75rem 0 0;
  width: 100%;
  height: 0.24rem;
  line-height: 0.24rem;
  font-size: 0.24rem;
  color: #666;
}
.tcTip2{
  margin-top: 0.1rem;
  font-size: 0.24rem;
  color: #ff7744;
}
.marginT40{
  margin-top: 0.4rem;
}
.marginT38{
  margin-top: 0.38rem;
}
.colorff7744{
  color: #ff7744!important;
}
.color666{
  color: #666!important;
}
.tcKnoweBtn{
  width: 100%;
  height: 0.7rem;
  font-size: 0.28rem;
  color: #ff7744;
  line-height: 0.7rem;
  border-top: 1px solid #eee;
  border-radius: 5px;
}
.tcContent{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.goChoujiang,.goJiangpin,.goDuihuan,.DuihuanConfirm1,.DuihuanResultConfirm1{
  width: 2.44rem;
  color: #ff7744;
}
.againCancel,.getGiftCancel,.noJihuiCancel,.cuihuanCancel,.duihuanResultCancel{
  width: 2.44rem;
  height: 100%;
  color: #666;
  border-right: 1px solid #eee;
}
.JingpinTc{
	display: none;
	position: fixed;
	top: 0.5rem;
	left: 50%;
	z-index: 150;
	margin-left: -2.65rem;
	width: 5.3rem;
}
.jingpinTcClose{
	right: -0.1rem;
	top: 0.3rem;
}
.guangIcon{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 5.3rem;
	height: 5.3rem;
	animation: myfirst 10s linear infinite;
	-webkit-animation: myfirst 10s linear infinite;	/* Safari 和 Chrome */
}
@-webkit-keyframes myfirst {
    0% {
      -webkit-transform: rotate(0deg);
			transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);;
      transform: rotate(360deg);
    }
  }
.jiangpinPic{
	position: absolute;
	top: 0.8rem;
	left: 50%;
	margin-left: -2.1rem;
	z-index: 3;
	width: 4.2rem;
	height: 3.35rem;
}
.JiangpinTxt{
	position: relative;
	margin-top: 4.4rem;
	width: 4.28rem;
	left: 50%;
	margin-left: -2.14rem;
	z-index: 10;
}
.zhongjiangTit1{
	margin-bottom: 0.25rem;
	height: 0.32rem;
	line-height: 0.32rem;
	font-size: 0.32rem;
	color: #fff;
}
.jingpinName,.zhongjiangTit2 a{
	color: #fbd733;
}
.zhongjiangTit2 a{
	text-decoration: underline;
}
.zhongjiangTit2{
	margin-bottom: 0.2rem;
	font-size: 0.22rem;
	line-height: 0.3rem;
	color: #fff;
}
